body
{
    background-color:#61249d;
    color:white;
    font-family:Franklin Gothic Medium;
   
}

header 
{
    background-color: purple;
    color: white;
    border: 10px solid black;
}

nav {
    background-color: purple;
    color: white;
    text-align: right;
      font-size: 20px;
}

main {
    background-color: purple;
    color: white;
    text-align: center;
    font-size: 20px;
    border: 10px solid black;
}

h1 {
    background-color: purple;
    color: white;
}

h2 {
    background-color: purple;
    color: white;
}

body.img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a
{
    color:white;
}

button {
    background-color: white;
    color: purple;
}
